.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr; /*a 1 coluna vai ter 256px exatos e a 2 vai ter o tamanho flexivel*/
  gap: 2rem;
  align-items: flex-start;
}

@media (max-width: 768px) { /* quando a tela for menor do que 768px, vai aplicar esse css*/
  html {
    font-size: 87.5%;
  }
  .wrapper {
    grid-template-columns: 1fr; /* vamos ter uma coluna que ocupa a largura total*/
  }
}